<!DOCTYPE html>
    <head>
        <title>Sinukuan Water System, Inc.</title>
        <link href = "../../css/navbar.css" rel = "stylesheet"/>
        <link href = "../../css/admin_application_dashboard.css" rel = "stylesheet"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
        {{#each this.script}}
            <script src="/js/{{this}}.js"></script>
        {{/each}}
        <script>
            Handlebars.registerHelper('switch', function(value, options) {
            this.switch_value = value;
            this.switch_break = false;
            return options.fn(this);
            });

            Handlebars.registerHelper('case', function(value, options) {
            if (value == this.switch_value) {
                this.switch_break = true;
                return options.fn(this);
            }
            });
        </script>
    </head>
    <body>
        <!-- Header -->
        <nav>
            <div class = "navbar">
                <!-- Logo -->
                <img src = "../../images/logo/logo_placeholder.png" class = "logo">

                <!-- Company name -->
                <div class = "heading-title">Sinukuan Water System, Inc.</div>
                <!-- Navigation links -->
                <div class = "menu">
                    <img src = "../../images/icons/menu_icon.png" class = "hbmenu">
                </div>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>


