<!DOCTYPE html>
    <head>
        <title>Sinukuan Water System, Inc.</title>
        <link href = "../styles/navbar.css" rel = "stylesheet"/>
        <link href = "../styles/admin_application_popup.css" rel = "stylesheet"/>
    </head>
    <body>
        <!-- Header -->
        <nav>
            <div class = "navbar">
                <!-- Logo -->
                <img src = "../images/logo/logo_placeholder.png" class = "logo">

                <!-- Company name -->
                <div class = "heading-title">Sinukuan Water System, Inc.</div>
                <!-- Navigation links -->
                <div class = "menu">
                    <img src = "../images/icons/menu_icon.png" class = "hbmenu">
                </div>
            </div>
        </nav>

        <div class = "panel">
            <div class = "left">
                <div class = "refno">12345678</div>
                <div class = "name">Juan Carlo M. Dela Cruz</div>
                <div class = "status">Waiting for visit</div>
                <div class = "update">Update Status
                <div class = "dropdown"></div>
            </div>
            <div class = "right">
                <table>
                    <tr>
                        <th><div class = "label">Application Date:</div></th>
                        <th><div class = "date">11/22/2022</div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Address:</div></th>
                        <th><div class = "address">Clark, Pampanga</div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Landmarks/Remarks:</div></th>
                        <th><div class = "landmarks"></div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Establishment Name: </div></th>
                        <th><div class = "establishment"></div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Property Ownership:</div></th>
                        <th><div class = "ownership"></div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Reference Account No:</div></th>
                        <th><div class = "ref-acc-no"></div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Email Address:</div></th>
                        <th><div class = "email"></div></th>
                    </tr>
                    <tr>
                        <th><div class = "label">Contact Number:</div></th>
                        <th><div class = "contactno"></div></th>
                    </tr>
                    
                    <tr>
                        <th><div class = "label">Valid ID:</div></th>
                        <th><div class = "validid"></div></th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>