<!DOCTYPE html>
    <head>
        <title>Sinukuan Water System, Inc.</title>
        <link href = "../public/css/navbar.css" rel = "stylesheet"/>
        <link href = "../public/css/admin_application_dashboard.css" rel = "stylesheet"/>
    </head>
    <body>
        <!-- Header -->
        <nav>
            <div class = "navbar">
                <!-- Logo -->
                <img src = "../public/images/logo/logo_placeholder.png" class = "logo">

                <!-- Company name -->
                <div class = "heading-title">Sinukuan Water System, Inc.</div>
                <!-- Navigation links -->
                <div class = "menu">
                    <img src = "../public/images/icons/menu_icon.png" class = "hbmenu">
                </div>
            </div>
        </nav>

        <div class = "left">
            <!-- Temporary placeholder -->
            <img src = "../public/images/logo/logo_placeholder.png" class = "user-img"> 

            <div class = "uname">username</div>
            <div class = "center-btn">
                <button class = "btn">Applications</button>
            </div>
            <div class = "center-btn">
                <button class = "btn">Complaints</button>
            </div>
        </div>
        <div class = "right">
            <!-- Pending Surveyor Visit -->
            <div class = "applications">
                <label id = "applications">Applications</label>
                <input id = "search" type="text" placeholder="Search..">
            </div>
            
            <div class = "Filter">
                <label class = "filter-by">Filter by:</label>
                    <select name="filter-options" id="filter-options">
                        <option style="display:none;" selected>Select Stage</option>
                        <option value="option-surveyor-visit">Pending Surveyor Visit</option>
                        <option value="option-installation">Pending Installation</option>
                        <option value="option-onsite-visit">Pending Onsite Visit</option>
                    </select>
            </div>
            <div class = "table-title">Pending Surveyor Visit</div>
            <table class = "surveyor-visit">
                <tr>
                    <th>Date</th>
                    <th>Ref No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact No.</th>
                </tr>
                <tr>
                    <td>11/22/2022</td>
                    <td>12345678</td>
                    <td>Juan Carlo M. Dela Cruz</td>
                    <td>Clark, Pampanga</td>
                    <td>+63 939 905 9895</td>
                </tr>
            </table>

            <!-- Pending Installation -->
            <div class = "table-title">Pending Installation</div>
            <table class = "Installation">
                <tr>
                    <th>Date</th>
                    <th>Ref No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact No.</th>
                </tr>
                <tr>
                    <td>11/22/2022</td>
                    <td>12345678</td>
                    <td>Juan Carlo M. Dela Cruz</td>
                    <td>Clark, Pampanga</td>
                    <td>+63 939 905 9895</td>
                </tr>
            </table>

            <!-- Pending Installation -->
            <div class = "table-title">Pending Onsite Visit</div>
            <table class = "onsite-visit">
                <tr>
                    <th>Date</th>
                    <th>Ref No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact No.</th>
                </tr>
                <tr>
                    <td>11/22/2022</td>
                    <td>12345678</td>
                    <td>Juan Carlo M. Dela Cruz</td>
                    <td>Clark, Pampanga</td>
                    <td>+63 939 905 9895</td>
                </tr>
            </table>
        </div>
    </body>
</html>