<!DOCTYPE html>
    <head>
        <title>Sinukuan Water System, Inc.</title>
        <link href = "../styles/navbar.css" rel = "stylesheet"/>
        <link href = "../styles/admin_login.css" rel = "stylesheet"/>
    </head>
    <body>
        <!-- Header -->
        <nav>
            <div class = "navbar">
                <!-- Logo -->
                <img src = "../images/logo/logo_placeholder.png" class = "logo">

                <!-- Company name -->
                <div class = "heading-title">Sinukuan Water System, Inc.</div>
                <!-- Navigation links -->
                <div class = "menu">
                    <img src = "../images/icons/menu_icon.png" class = "hbmenu">
                </div>
            </div>
        </nav>

        <div class = "panel">
            <div class = "admin">Admin</div>
            <div class = "input-uname">
                <label for = "uname" class = "label-title">Username</label>
                <input type = "text" class = "username" placeholder = "username" name = "uname" id = "uname" required>
            </div>
            <div class = "input-pass">
                <label for = "password" class = "label-title">Password</label>
                <input type = "password" class = "password" placeholder = "********" name = "password" id = "password" required>
            </div>

            <div class = "center-btn">
                <button class = "btn">Login</button>
            </div>
        </div>
    </body>
</html>