<div class = "left">
    <!-- Temporary placeholder -->
    <img src = "../images/icons/userImage.jpeg" class = "user-img"> 

    <div class = "uname">username</div>
    <div class = "center-btn">
        <button class = "btn">Applications</button>
    </div>
    <div class = "center-btn">
        <button class = "btn">Complaints</button>
    </div>
</div>
<div class = "right">
    <!-- Template for all stage -->
    <div class = "applications">
        <label id = "applications">Applications</label>
        <input id = "search" type="text" placeholder="Search..">
    </div>
    
    <div class = "Filter">
        <label class = "filter-by">Filter by:</label>
            <select name="filter-options" id="filter-options">
                <option value="all" selected>all</option>
                <option value="uploading-requirements">Uploading Requirements</option>
                <option value="adding-representative">Adding Representative</option>
                <option value="printing-and-preparing-documents">Printing and Preparing Documents</option>
                <option value="waiting-for-survey-schedule">Waiting for Survey Schedule</option>
                <option value="pending-surveyor-visit">Pending Surveyor Visit</option>
                <option value="purchasing-of-materials">Purchasing of Materials</option>
                <option value="pending-onsite-visit">Pending Onsite Visit</option>
                <option value="pending-installation">Pending Installation</option>
                <option value="completed">Completed</option>
            </select>
    </div>
    <div class = "table-title" id="stageheader">{{this.stage}}</div>
    <div id = "applications-table">
        {{> approw this.results}}
    </div>
</div>

